body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row {
  margin-top: 1rem;
}
.Todo-List {
  margin-top: 1rem;
}
.form-check-input {
  margin-right: .25rem;
}
.alert-absolute {
  position: absolute;
  width: 100%;
  top: -75px;
}